<div class="page">
  <div class="page__main_img" *ngIf='current'>
    <img src="image/{{current}}/resize/1300/700">
  </div>

  <div class="page__images" *ngIf="page.files && page.files.length > 1">
      <div
      class="page__image"      
      *ngFor="let file of page.files">
        <img src="image/{{file}}/crop/300/200" (click)="setCurrent(file)">
    </div>
  </div>

  <div class="page__content">
      <div class="page__title">
        {{page.title}}
      </div>
      <div class="page__content">
        {{page.content}}
      </div>
      <div class="page__info">
          {{page.tags}}
      </div>
  </div> 
</div>
