<div class="dashboard">
  <div class="dashboard__list">
    <div class="dashboard__list__topic" *ngFor="let topic of topics">
      <a class="nav-link" routerLink="/page/{{topic._id}}">
        <div
          class="dashboard__list__topic__img"
          *ngFor="let file of topic.files|slice:0:1">
            <img src="image/{{file}}/crop/250/200">
        </div>
      </a>
      <div class="dashboard__list__topic__body">
        <div class="dashboard__list__topic__body__title">
            {{topic.title}}
        </div>
        <div class="dashboard__list__topic__body__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At ipsum, inventore aspernatur sapiente voluptas quod assumenda expedita quia voluptate quo et animi, dolorem fugiat quis in perspiciatis repellendus praesentium obcaecati?
        </div>      
        <div class="dashboard__list__topic__body__add_info dashboard__list__topic__body__author" *ngIf='topic.author'>            
            <span>Автор {{topic.author?.name}}</span>
        </div>
        <div class="dashboard__list__topic__body__add_info dashboard__list__topic__body__date">
            <mat-icon>access_time</mat-icon> 
            <span>{{topic.date | date:'dd MMM yyyy, HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

